# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Zip files
*.zip

# Boost files
*.out

# Binaries
TestGraph

# Eclipse files
.settings
.project
.cproject

# NFS files
.nfs*